.page 
{
	background-color: #FAFAFA;
}
.page > .title
{
	font-size: 2em;
}
.title 
{
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
}
.layout
{
	width: 100%;
}
.layout>tr>td
{
	width: 50%;
	vertical-align: top;
}
.layout .settings td
{
	vertical-align: middle;
	text-align: right;
	padding-right: 10px;
}
.layout .settings td.checkboxes
{
	text-align: center;
}
.settings input[type="range"]
{
	width: 200px;
}
.settings *
{
	margin: 15px 5px;
}
.textbox
{
	width: 40px;
	height: 20px;
	padding: 3px;
	text-align: center;
	font-size: 1.2em;
}